body {
    padding: 0%;
    margin: 0;
}

.First-Image{
    position: absolute;
    height: 500px;
    width: 100%;
    background-image: url('20180727184311_1.jpg');
    background-size: cover;
    background-position: center;
    z-index: 3;
}
.Div-1-Slider{  
  float: right;
  right: 100%;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.5;
}
.First-Image:hover .Div-1-Slider{
    width: 20%;
    right: 100%;
}

.Second-Image{
    position: absolute;
    right: 0;
    height: 500px;
    width: 0;
    background-image: url('20190922140730_1.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.Div-2-Slider{  
    float: right;
    right: 100%;
    background-color: grey;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: 0.5;
  }
.Second-Image:hover .Div-2-Slider{
    width: 20%;
    right: 100%;
}


.Third-Image{
    position: absolute;
    right: 0;
    height: 500px;
    width: 0;
    background-color: pink;
    background-image: url('20190922142546_1.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.Div-3-Slider{  
  float: right;
  right: 100%;
  background-color: green;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.5;
}
.Third-Image:hover .Div-3-Slider{
    width: 20%;
    right: 100%;
}

.Top-Slider{
    overflow: hidden;
}

.Main-Div{
    margin-top:500px;
    
    display: block;
    width: 100%;
    height:600px;
    background-color: blue;
}